<!-- template para o css, replicar em outras páginas -->
 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>The Games</title>
 </head>
 <body>
    <header>
        <h1 style="text-align: center;">The Games</h1>
        <hr>
    </header>
    {% block content %}
    <!-- Aqui irá o conteudo das demais páginas -->
    {% endblock content %}
    <footer>
        <hr>
        <p style="text-align: center;">Todos os direitos reservados  &reg;</p>
    </footer>
 </body>
 </html>